bot:
  name: TestNNLigaGitLabBot
  token: 6021072225:AAEDrP12sqw2NPjefzlcr4iiPnXk0RUwkoU
logging:
  level:
    ru.git.lab.bot: DEBUG
    org.flywaydb: DEBUG
spring:
  datasource:
    driverClassName: org.h2.Driver
    username: bot
    password:
    url: jdbc:h2:file:C:\\Users\\btyutin\\bot\\data\\bot-db
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: none
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
flyway:
  user: bot
  password:
  schema: bot-schema
  locations: filesystem:db/migration
  url: jdbc:h2:file:C:\\Users\\btyutin\\bot\\data\\bot-db